
    body {
        background-color:black;
        background-size: cover;
     font-family: 'Arial', sans-serif;
      text-align: center;
      margin: 50px;
    }

    #stopwatch {
      font-size: 150px;
      margin-bottom: 20px;
      color: white;
    }

    #controls {
      margin-top: 20px;
    }
  
  .start{
      font-size: 1em;
      margin: 0 10px;
      padding: 10px 20px;
      cursor: pointer;
      background-color:blueviolet;
      border-radius: 10px;
    
    }
    .reset{
      font-size: 1em;
      margin: 0 10px;
      padding: 10px 20px;
      cursor: pointer;
      background-color:red ;
      border-radius: 10px;
    
    }
    .pause{
      font-size: 1em;
      margin: 0 10px;
      padding: 10px 20px;
      cursor: pointer;
      background-color:green;
      border-radius: 10px;
    
    }
    .lap{
      font-size: 1em;
      margin: 0 10px;
      padding: 10px 20px;
      cursor: pointer;
      background-color:yellow;
      border-radius: 10px;
    
    }

    #laps {
      margin-top: 20px;
      text-align: center;
      padding-top: 20px;
      color: white;
    }
    .sw{
        text-align: center;
        padding-top: 150px;
    }
    
